
{% extends 'poems/poems_base.html' %}
{% load static %}
{% block title %}Create Poem{% endblock %}

{% block jumbo %}
<div class="container-md">
  <form method="get">

      {% for field in form %}
          <div class="row justify-content-center">
            <div class="col-10 col-sm-8 px-1">
                <div class="form-group">
                  {{ field.label_tag }}
                  {{ field }}
                    {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text|safe }}</small>
                    {% endif %}
                </div>
            </div>
            <div class="col-auto p-2 mx-2 mb-3 align-self-center">
                <h5 class="popover bg-transparent" data-toggle="popover">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
                      <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z"></path>
                      <circle cx="8" cy="4.5" r="1"></circle>
                    </svg>
                </h5>
            </div>
        </div>
      {% endfor %}

      <div class="row justify-content-center">
          <div class="col-auto">
            <div class="form-group">
              <label for="id_select_verses" style="display:none;">Quieres elegir las rimas?</label>
              <select class="form-control text-center" id="id_select_verses" style="display:none;">
                <option value="no">No</option>
                <option value="yes">Sí</option>
                <!-- TODO https://getbootstrap.com/docs/4.1/components/collapse/#example -->
              </select>
            </div>
          </div>
      </div>

      <div id="hidden" class="row" style="display:none;">
          <div class="col-12">
          <p class="lead text-center pb-2">Especifica las rimas:</p>
          </div>

          <div class="col-12" id="hidden-form">
          </div>
      </div>

      <input class="btn btn-light btn-sm mt-3" id="submit" type="submit" name='submit' value="Generar poema">

  </form>
</div>

{% endblock %}


{% block scripts %}
<script src="{% static 'poems/create-poem-v3.js' %}" type="text/javascript"></script>
{% endblock %}
