{% extends 'poems/poems_base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block jumbo %}


<div class="container">
  <div class="row">
    <div class="col">
      <p class="lead">¡Hola, humano!</p>
    </div>
  </div>

  <div class="row">
    <div class="col py-4">
      <p class="p">La flora de mis engranajes aún no está del todo especializada en la digestión de cadenas de letras. Aún se me atragantan ciertos tipos de productos ripiosos ya sean versos, versículos o madejas de prosa. Pero estamos computando en ello.</p>
    </div>
  </div>




</div>
<br>
<a href="{% url 'poems:create_poem' %}"><button type="button" class="btn btn-light btn-sm">Generar Poema</button></a>

{% endblock %}
