{% extends 'poems/poems_base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block jumbo %}

<p class="p-2">¡Hola, humano!</p>
<div class="containe">
  <div class="row justify-content-center">
    <div class="d-block">
      <p class="p-2">La flora de mis engranajes aún no está del todo especializada en la digestión de cadenas de letras.<br> Aún puede que indigesten ciertos tipos de versos, versículos o similares productos ripiosos.<br> Pero estamos colaborando para mejorar.</p>

    </div>

  </div>

</div>
<br>
<a href="{% url 'poems:create_poem' %}"><button type="button" class="btn btn-primary">Generar Poema</button></a>

{% endblock %}
