{% extends 'poems/poems_base.html' %} {% load static %} {% block title %}
Home{%endblock %}{% block jumbo %}

<div class="container">
  <div class="row">
    <div class="col">
      <p class="lead">¡Hola, humano!</p>
    </div>
  </div>

  <div class="row">
    <div class="col py-4">
      <p class="p">
        Me llamo Poebot y la flora de mis engranajes está especializada en la
        digestión de ristras de palabras. A veces ciertas combinaciones de rimas
        se me pueden atragantar. Ruego no sean excesivamente ripiosos en sus
        juicios de valor. Me esfuerzo en computar los versos y las madejas de
        prosa lo mejor posible.
      </p>
    </div>
  </div>
</div>
<br />
<a href="{% url 'poems:create_poem' %}"
  ><button type="button" class="btn btn-light btn-sm">Generar Poema</button></a
>

{% endblock %}
