{% extends "poems/base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

    <form name="myform" method="GET" action="{% url 'poems:poem' %}">
      <div class="form-group">
        <label for="ver_num">Número de versos: </label><br>
        <input id="ver_num" class="form-control" type="number" name="verse_num" aria-describedby="num_verHelp" required>
        <small id="num_verHelp" class="form-text text-muted">Aquí el número de versos que quieres que tenga tu poema.</small>
      </div>

      <div class="form-group">
        <label for="ver_len">Longitud de los versos: </label><br>
        <input id="ver_len" class="form-control" type="number" name="verse_length" aria-describedby="len_verHelp" placeholder="Un número entre 5 y 14">
        <small id="len_verHelp" class="form-text text-muted">Aquí la longitud que quieres que tengan los versos (en número de sílabas)</small>
      </div>

      <div class="form-group">
        <label for="rhy_seq">Secuencia de rimas:</label><br>
        <input id="rhy_seq" class="form-control" type="text" name="rhy_seq" aria-describedby="len_verHelp" placeholder="ABBA BAAB">
        <small id="rhy_seqHelp" class="form-text text-muted">Aquí la secuencia de las rimas. Letras mayúsculas implican rima consonante, minúsculas asonante.</small>
      </div>

        <label for="select_verses">Quiere elegir las rimas? </label>
        <select class="form-control" id="select_verses" name="select_verses">
          <option value="no">No</option>
          <option value="yes">Sí</option>
        </select>

                <div id="hidden" style="display:none;"><br>
                  <fieldset class="form-group" id="hidden_fieldset">
                    <legend>Especifica las rimas:</legend>

                  </fieldset>

                </div>

        <br><hr><input type="submit" name="submit" placeholder="Submit"/>
    </form>

{% endblock %}
