<!DOCTYPE html>

{% load static %}

<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css" integrity="sha512-UyNhw5RNpQaCai2EdC+Js0QL4RlVmiq41DkmCJsRV3ZxipG2L0HhTqIf/H9Hp8ez2EnFlkBnjRGJU2stW3Lj+w==" crossorigin="anonymous" />
    <link rel="shortcut icon" type="image/png" href="{% static 'poems/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'poems/style.css' %}">
    <!-- <style media="screen">body{background-color: #E7E1F0}</style> -->
    <title>{% block title %}{% endblock %}</title>
  </head>

<body>


  <div class="container">

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'poems:home' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'poems:create_poem' %}">Generar Poema</a></li>
        <li class="breadcrumb-item active">Algo diferente?</li>
      </ol>
    </nav>


    <div class="jumbotron py-4 vh-100 text-center">
        <h1>Generador de poemas</h1>
        <hr>
        <br>
        {% block jumbo%}{% endblock%}

    </div>

    {% block content %}{% endblock %}

  </div>


  <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
  {% block scripts %}{% endblock %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

</html>
