[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
psycopg2-binary = "*"
beautifulsoup4 = "*"
requests = "*"
ipython = "*"
coverage = "*"
django = "*"
lxml = "*"

[requires]
python_version = "3.8"
