{% extends 'poems/poems_base.html' %}

{% load static %}

{% block jumbo %}

<form id="register-form" method="post">
    {% csrf_token %}
    {% for field in form %}
    <div class="row justify-content-center">
        <div class="col-10 col-sm-8 px-1">
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                {{ field.errors }}
                {% endif %}
            </div>
        </div>
        <div class="col-auto p-1 mx-2 my-3 align-self-center">
            <a tabindex="0" role="button" class="popover bg-transparent border-0" data-toggle="popover"
                data-trigger="focus" data-placement="top" data-content="{{ field.help_text|safe }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-info-circle" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z">
                    </path>
                    <path
                        d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z">
                    </path>
                    <circle cx="8" cy="4.5" r="1"></circle>
                </svg>
            </a>
        </div>
    </div>
    {% endfor %}
    <div class="row justify-content-center my-4 mr-4">
        <input class="btn btn-light" type="submit" value="Registrar">
    </div>
</form>
{% endblock %}

{% block scripts %}
<script src="{% static 'registration/register.js' %}"></script>
{% endblock %}