html {
  font-size: calc(0.5rem + 0.7vw);
  font-family: "lores-9-wide", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #0f3a48;
  font-family: inherit;
}

.jumbotron {
  background-color: inherit;
}

#poebot-title {
  font-size: 5em;
}

#poebot-logo {
  font-size: 2em;
}

.oi {
  padding: 2px;
  border-radius: 5px;
  background-color: white;
}

svg {
  padding: 2px;
  border-radius: 5px;
  background-color: white;
}

label,
h1 {
  color: rgb(209, 205, 199);
}

p {
  margin: 2px;
  color: rgb(209, 205, 199);
}

.errorlist {
  border-radius: 5px;
}

.verse {
  font-family: Roboto;
}

#info-icon {
  position: relative;
  transform: translate(150%, -25%);
}
/*
Extra small devices (portrait phones, less than 544px)
No media query since this is the default in Bootstrap because it is "mobile first"
*/
/* h1 {
  font-size: 32px;
  font-size: 6vw;
} */

/* @media (min-width: 544px) {
h1 {
  font-size: 42px;
  font-size: 3.5vw;
}
@media (min-width: 544px) {
p {
    font-size: 16px;
    font-size: 1.5vw;
} */
