html body {
  background: none repeat scroll 0 0 #131520;
  color: #f9f9fa;
}

.jumbotron {
  background-color: #232627;
}

.oi {
  padding: 2px;
  border-radius: 5px;
  background-color:white;
}

svg {
  padding: 2px;
  border-radius: 5px;
  background-color: white;
}

#last_arrow {
  background-color: #e9ecef;
}
