body {
  background-color: #E5E8E8;
}

div jumbotron{
  background-color: #D5DBDB;
}

h1 {
  text-align: center;
}

ul {
  list-style-type: none;
  margin-top: 50px;
  margin-left: 300px;
}

div btn{
  background-color: white;
}
